---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    <h2>About the Images of Ancient Music Database</h2>
    
    <p>
  A Collection from the WashU Department of Classics. This database includes
  photos of over 800 extant instruments and works of art showing the music and
  dance of ancient Greece and Rome, as well as other images related to the
  ancient Mediterranean world and its influence.
</p>

<p>
  This site has organized available information on all entries into navigable
  pages. The home page contains widgets of information, and additional
  information can be found by navigating to each major page.
</p>
    
    {% include index/carousel.html title="Sample Items" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Top Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  
</div>
